*.gem
.bundle
.ruby-version
.jekyll-cache
.sass-cache
_site
Gemfile.lock
node_modules
.jekyll-metadata
.idea
docs/uncategorized/*
.DS_Store

# Python temporary files
*$py.class
*.py[cod]
*.pyd
*.so
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/

python_scripts/__cache__/
python_scripts/.env
