**/node_modules/**
**/dist/**
_site/**
_layouts/vendor/**
.jekyll-cache/**
.mypy_cache/**
.venv/**
**/*.min.css
**/*.min.js
# Ignored files as Jekyll is includes
_layouts/table_wrappers.html
_includes/vendor/
api/**
assets/js/search-data.json
assets/js/search.js
assets/js/zzzz-search-data.json