
{%- assign github_data = site.data.projects | where: "repo_url", project.repo_url  -%}
{%- assign github_info = github_data[0] -%}

{% assign cat = project.parent | split: " " %}
{
    "title": "{{ project.title }}",
    "description": "{{ project.description }}",
    "batch": "{{ cat[0] }}",
    "category": "{{ project.grand_parent }}",
    "project_url": "{{ site.url }}{{ project.permalink }}",
    "cover_url": "{{ project.cover_url | absolute_url }}",
    "thumbnail_url": "{{ project.thumbnail_url | absolute_url }}",
    "repo_url": "{{ project.repo_url }}",
    {%- if project.page_url != "blank" -%}
    "page_url": "{{ project.page_url }}",
    "data_url": "{{ project.page_url }}/data/index.json"
    {%- else -%}
    "page_url": "#",
    "data_url": "#"
    {%- endif -%},
    "github": {
        "created_at": "{{ github_info.created_at | date: '%Y-%m-%d' }}",
        "updated_at": "{{ github_info.updated_at | date: '%Y-%m-%d' }}",
        "language": "{{ github_info.language }}",
        "forks_count": "{{ github_info.forks_count }}",
        "stars_count": "{{ github_info.stars_count }}",
        "watchers_count": "{{ github_info.watchers_count }}",
        "topics": [
            {%- for topic in github_info.topics -%}
            "{{ topic | strip }}"{%- if forloop.last -%}{%- else -%},{%- endif -%}
            {%- endfor -%}
        ],
        "has_projects": "{{ github_info.has_projects }}",
        "has_wiki": "{{ github_info.has_wiki }}",
        "has_pages": "{{ github_info.has_pages }}"
    }
}
