<footer class="mt-5 pt-3 pb-4 bg-dark">
    <div class="container">
        <p class="m-2 text-center text-white">
            Department of Computer Engineering - University of Peradeniya
        </p>
        <p class="text-center text-muted">
            <a class="text-decoration-none small footer-link" href="{{ '/documentation/' | relative_url }}">
                Documentation</a> |
            <a class="text-decoration-none small footer-link" href="https://api.ce.pdn.ac.lk/docs/projects/"
                target="_blank">Data
                APIs</a> |
            <span class="small">Last Build: {{site.time | date: "%d-%m-%Y" }}</span>
        </p>
    </div>
</footer>