<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="Description" content="{{ page.description }}">

    <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Scripts -->
    <script src="http://ce-projects.nuwanjaliyagoda.com/js/app.js" defer></script>

    <!-- Scripts -->
    <script src="http://ce-projects.nuwanjaliyagoda.com/js/app.js" defer></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Styles -->
    <link href="http://ce-projects.nuwanjaliyagoda.com/css/app.css" rel="stylesheet">

</head>
