---
layout: default
title: Home
page_title: Home | projects.ce.pdn.ac.lk

nav_order: 1
description: "Welcome to the student project listing of the Department of Computer Engineering, University of Peradeniya. This website contains the documentation, code and other multimedia resources for the academic and extra curricular projects conducted by the students of the department."
permalink: /
has_children: true

search_exclude: true
---

{% include page_tree_builder.html pages=site.html_pages %}

<!-- Jumbotron Header -->
<header class="blog-header py-3 px-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-2 pt-1">
            <img class=" mx-auto d-block img-fluid" src="{{ '/assets/images/crest.png' | prepend: site.baseurl }}" alt="Logo">
        </div>
        <div class="col-8">
            <a class="blog-header-logo text-white text-decoration-none" href="#">
                Student Projects<br>
                <small class="small">Department of Computer Engineering, University of Peradeniya, Sri Lanka</small>
            </a>
        </div>
        <div class="col-2 d-flex justify-content-end align-items-center">
            <a class="d-none btn btn-sm btn-outline-secondary" href="http://www.ce.pdn.ac.lk" target="_blank">Department Site</a>
        </div>
    </div>
</header>
{% include project_navbar.html %}

<main class="py-2 p-1">
    <div class="container p-5"  style="min-height: 80vh;">
        <header class="jumbotron lead my-2 mb-5">
            <p class="lead">
                Welcome to the student project listing of the Department of Computer Engineering, University of Peradeniya. This website contains the documentation, code and other multimedia resources for the academic and extra curricular projects conducted by the students of the department.
            </p>
        </header>

        <div>
            <div class="row text-center my-2">
                {% if page.has_children == true and page.has_toc != false %}
                {%- assign children_list = pages_list | where: "parent", page.title -%}

                <div class="container p-0 mw-100">
                    <div class="row">
                        {% for child in children_list %}

                        {% if child.type == "GENERAL" %}
                        <div class="col-lg-4 col-md-6 mb-1 icon-box d-flex {{ child.type }} img-hover-zoom-card">
                            <a class="btn" href="{{ child.permalink | prepend: site.baseurl}}">
                                <div class="card h-100">
                                    <div class="img-hover-zoom">
                                        <img class="card-img-top" src="{{ child.default_thumb_image | prepend: site.baseurl }}" alt="{{child.title}}">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{child.title}}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endif %}

                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>

            <h3 class="pt-3 pb-1">Course-Specific Projects</h3>
            <div class="row text-center my-2">
                {% if page.has_children == true and page.has_toc != false %}
                {%- assign children_list = pages_list | where: "parent", page.title -%}

                <div class="container p-0 mw-100">
                    <div class="row">
                        {% for child in children_list %}

                        {% if child.type == "COURSE" %}
                        <div class="col-lg-3 col-md-6 mb-1 d-flex {{ child.type }} img-hover-zoom-card">
                            <a class="btn" href="{{ child.permalink  | prepend: site.baseurl}}">
                                <div class="card h-100">
                                    <div class="img-hover-zoom">
                                        <img class="card-img-top" src="{{ child.default_thumb_image | prepend: site.baseurl }}" alt="{{child.title}}">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{child.title}}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endif %}

                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</main>
