---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include project_head.html %}
<body>
    <div id="app">
        {% include project_navbar.html %}

        <main class="py-2 p-1">
            <br>

            <div class="container">
                {{ content }}
            </div>

            <footer class="d-none py-5 bg-dark">
                <div class="container">
                    <p class="m-2 text-center text-white">Copyright &copy; Your Website 2020</p>
                </div>
            </footer>

        </main>
    </div>
</body>
</html>
