---
layout: table_wrappers
---

<!doctype html>

<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% include meta.html %} {% include head.html %} {% if site.ga_tracking != nil -%} {%- include
    analytics.html -%} {% endif -%}
  </head>

  <body>
    <div id="app">
      <a
        href="#"
        id="toTopBtn"
        class="cd-top text-replace js-cd-top cd-top cd-top--fade-out bottomButtons"
        data-abc="true"
        style="display: none"
      ></a>

      <!-- <a href="#" id="toTopBtn" style="display: none;"></a> -->
      {{ content }} {% include footer.html %}
    </div>
  </body>
</html>
