---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
    <div id="app">
        {% include project_navbar.html %}
        {% include page_tree_builder.html pages=site.html_pages %}

        <main class="py-2 p-1">
            <div class="container-fluid px-5">
                <div class="row">
                    <nav aria-label="breadcrumb" class="w-100 mt-2">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../../">Home</a></li>
                            <li class="breadcrumb-item"><a href="../">{{ page.grand_parent }}</a></li>
                            <li class="breadcrumb-item"><a href="./">{{ page.parent | slice:0,3 }}</a></li>
                            <li class="breadcrumb-item title-case"><span>{{ page.title }}</span></li>
                        </ol>
                    </nav>
                </div>

                <div class="container" style="min-height: 60vh;">
                    <div class="row">
                        <h1 class="mt-2 title-case">{{ page.title }}</h1>
                        <div class="container">
                            {% if page.started_on != 'yyyy-mm-dd'  %}
                            <span class="px-3">Created: <i>{{ page.started_on  | date: '%B %d, %Y' }}</i></span>
                            {% endif %}
                            <span class="px-3">Forks: <i>{{ page.forks }}</i></span>
                            <span class="px-3"> Watchers: <i>{{ page.watchers }}</i> </span>
                            <span class="px-3"> Stars: <i>{{ page.stars }}</i> </span>

                            <hr>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Post Content Column -->
                        <div class="col-md-10">
                            <!-- Cover Image -->
                            <div class="">
                                <img class="img-fluid w-100" src="{{ page.cover_url }}" alt="">
                            </div>

                            <hr>
                            {{ content }}

                            <div class="row pt-3">
                                {% if page.repo_url != 'blank' %}
                                <div class="col-sm-6 col-md-6 col-lg-4 m-1">
                                    <a class="btn border d-flex btn-card" href="{{ page.repo_url }}" target="_blank">
                                        <div class="row d-flex">
                                            <img src='{{ "/assets/images/icon_repo.png" | absolute_url }}'
                                            class="card-img ml-3 p-1" alt="Project Repository" style="width: 50px; height: auto;">
                                            <h5 class="card-title align-self-center m-0">Project Repository</h5>
                                        </div>
                                    </a>
                                </div>
                                {% endif %}

                                {% if page.page_url != 'blank' %}
                                <div class="col-sm-6 col-md-6 col-lg-4 m-1">
                                    <a class="btn border d-flex btn-card" href="{{ page.page_url }}" target="_blank">
                                        <div class="row d-flex">
                                            <img src='{{ "/assets/images/icon_page.png" | absolute_url }}'
                                            class="card-img ml-3 p-1" alt="Project Page" style="width: 50px; height: auto;">
                                            <h5 class="card-title align-self-center m-0">Project Page</h5>
                                        </div>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Sidebar Widgets Column -->
                        <div class="col-md-1">

                            <div class="card mb-4 pb-3 d-none">
                                <h5 class="card-header">Languages</h5>
                                <div class="card-body">
                                    <ul class="list-unstyled mb-0">
                                        {% for lang in page.languages %}
                                        <li>{{ lang }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="card my-4 d-none">
                                <h5 class="card-header">Contributors</h5>
                                <div class="card-body">
                                    <ul class="list-unstyled mb-0">
                                        {% for member in page.contributors %}
                                        <li>
                                            <div class="w3-container d-flex">
                                                <img class="rounded-circle p-1 align-self-center"
                                                alt="{{ member }}"
                                                style="width: 48px; height: 48px;"
                                                src="https://avatars0.githubusercontent.com/u/11540782?v=4">
                                                <span class="align-self-center p-3">
                                                    <a href="#" target="_blank">{{ member }}</a>
                                                </span>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="container pt-5">
            <p class="text-center">Last Update: {{ site.time | date: '%B %d, %Y'  }}</p>
        </div>
        {% include footer.html %}
    </div>
</body>
