---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
    <div id="app">
        {% include project_navbar.html %}
        {% include page_tree_builder.html pages=site.html_pages %}

        <main class="py-2 p-1">
            <div class="container-fluid px-5">
                <div class="row">
                    <nav aria-label="breadcrumb" class="w-100 mt-2">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../../">Home</a></li>
                            <li class="breadcrumb-item"><a href="../">{{ page.grand_parent }}</a></li>
                            <li class="breadcrumb-item"><a href="./">{{ page.parent | slice:0,3 }}</a></li>
                            <li class="breadcrumb-item"><span>{{ page.title }}</span></li>
                        </ol>
                    </nav>
                </div>

                <div class="container" style="min-height: 60vh;">
                    <div class="row">
                        <h1 class="mt-2">{{ page.title }}</h1>
                        <div class="container">
                            {% if page.started_on != 'yyyy-mm-dd'  %}
                            <span class="px-3">Created: <i>{{ page.started_on  | date: '%d-%m-%Y'}}</i></span>
                            {% endif %}
                            <span class="px-3">Forks: <i>{{ page.forks }}</i></span>
                            <span class="px-3"> Watchers: <i>{{ page.watchers }}</i> </span>
                            <span class="px-3"> Stars: <i>{{ page.stars }}</i> </span>

                            <hr>
                        </div>
                    </div>

                    <!-- Cover Image -->
                    <div class="pb-2">
                        <img style="padding: 10px 30px;" class="img-fluid w-100" src="{{ page.cover_url }}" alt="">
                    </div>

                    <div class="row">
                        <!-- Post Content Column -->
                        <div class="col-md-8 col-lg-9">
                            <div class="container d-none remoteDataTeam">
                                <h3>Team</h3>
                                <ul id="teamList">
                                </ul>
                            </div>
                            <div class="container d-none remoteDataSupervisors">
                                <h3>Supervisors</h3>
                                <ul id="supervisorList">
                                </ul>
                            </div>

                            <div class="container">
                                {% if page.description.size > 0 %}
                                <h3 class="pt-3">Description</h3>
                                <div style="font-size: 12pt;" id="descriptionText" class="px-3">
                                    {{ content }}
                                </div>
                                {% endif %}
                            </div>

                            <div id="publications" class="container d-none0">
                                <h3 class="pt-3">Publications</h3>
                                <ul id="publicationsUL"></ul>
                            </div>

                            <div id="youtubeVideo" class="container d-none">
                                <h3 class="pt-3">Media</h3>
                                <div id="youtubeVideoDiv" style="padding: 5px 30px;"></div>
                            </div>

                            <div class="row pt-3">
                                {% if page.repo_url != 'blank' %}
                                <div class="col-sm-6 col-md-6 col-lg-4 m-1">
                                    <a class="btn border d-flex btn-card" href="{{ page.repo_url }}" target="_blank">
                                        <div class="row d-flex">
                                            <img src='{{ "/assets/images/icon_repo.png" | absolute_url }}'
                                            class="card-img ml-3 p-1" alt="Project Repository" style="width: 50px; height: auto;">
                                            <h5 class="card-title align-self-center m-0">Project Repository</h5>
                                        </div>
                                    </a>
                                </div>
                                {% endif %}

                                {% if page.page_url != 'blank' %}
                                <div class="col-sm-6 col-md-6 col-lg-4 m-1">
                                    <a class="btn border d-flex btn-card" href="{{ page.page_url }}" target="_blank">
                                        <div class="row d-flex">
                                            <img src='{{ "/assets/images/icon_page.png" | absolute_url }}'
                                            class="card-img ml-3 p-1" alt="Project Page" style="width: 50px; height: auto;">
                                            <h5 class="card-title align-self-center m-0">Project Page</h5>
                                        </div>
                                    </a>
                                </div>
                                {% endif %}
                            </div>

                            <div class="container d-none remoteDataTags pt-5">
                                <span class="font-weight-bold">Tags:</span>
                                <span id="tagList"></span>
                            </div>
                        </div>

                        <!-- Sidebar Widgets Column -->
                        <div class="col-md-4 col-lg-3 pt-3">
                            <div class="card mb-4 pb-3 langData d-none">
                                <h5 class="card-header">Languages</h5>
                                <div class="card-body" style="font-size:9pt;">
                                    <ul id="langList" class="list-unstyled mb-0">
                                    </ul>
                                </div>
                            </div>

                            <div class="card my-4 d-none">
                                <h5 class="card-header">Contributors</h5>
                                <div class="card-body">
                                    <ul class="list-unstyled mb-0">
                                        {% for member in page.contributors %}
                                        <li>
                                            <div class="w3-container d-flex">
                                                <img class="rounded-circle p-1 align-self-center"
                                                alt=""
                                                style="width: 48px; height: 48px;"
                                                src="#">
                                                <span class="align-self-center p-3">
                                                    <a href="#" target="_blank">{{ member }}</a>
                                                </span>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include footer.html %}
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            {% if page.page_url != 'blank' %}
            readRemoteData('{{ page.page_url }}');
            {% endif %}
            readLanguageData('{{ page.repo_url }}');
        });
    </script>

    <script type="text/javascript" src="{{ '/assets/js/project.js' | relative_url }}"></script>
</body>
