---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
    <div id="app">
        {% include project_navbar.html %}
        {% include page_tree_builder.html pages=site.html_pages %}

        <main class="py-2 p-1">
            <div class="container-fluid px-5">
                <div class="row">
                    <nav aria-label="breadcrumb" class="w-100 mt-2">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../../">Home</a></li>
                            <li class="breadcrumb-item"><span>Department Projects</span></li>
                            <li class="breadcrumb-item title-case"><span>{{ page.title }}</span></li>
                        </ol>
                    </nav>
                </div>

                <div class="container">
                    <div class="row">
                        <h1 class="mt-2 title-case">{{ page.title }}</h1>
                    </div>

                    <div class="row">

                        <!-- Post Content Column -->
                        <div class="col-md-10" style="min-height: 60vh;">

                            {{ content }}

                        </div>

                        <!-- Sidebar Widgets Column -->
                        <div class="col-md-1">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% include footer.html %}
    </div>
</body>
